body{
    font-family: "Roboto", Arial, sans-serif;
    line-height: 1.8;
}

a, button{
    text-decoration: none;
}

.navbar-custom{
    background: #96a2ac;
    padding: 0;
}

.navbar-brand{
    position: relative;
}

.navbar-brand::after{
    content: "";
    position: absolute;
    width: 100%;
    border-top: 2.5px solid rgb(227, 227, 227);
    left: 0;
    bottom: 0;
    transition: 0.2s ease-in-out;
    transform: scale(0)
}

.navbar-brand:hover:after{
    transform: scale(1);
}

.collapse-menu{
    box-shadow: unset !important;
}

.slider h1{
    font-size: 3rem;
    line-height: 1.3;
    text-indent: -1.5rem;
    padding-left: 1.5rem;
}

.profile-wrapper{
    width: 260px;
    height: 260px;
    overflow: hidden;
    border-radius: 50%;
}

.section-about,
.section-portfolio,
.section-contact,
.section-experience{
    padding: 8rem 0;
    width: 100%;
    overflow-x: hidden;
    background: rgba(241, 237, 237, 0.606);
    z-index: 10;
}

.section-footer{
    padding: 4rem 0 0 0;
    background: #dae2e4;
}

.section-about h2,
.section-about h3{
    font-weight: 700;
}

.row-about > *{
    margin-top: 3rem;
}

.about-me{
    position: relative;
    font-size: 13px;
    padding: 12px 0;
    transition: 0.15s ease-in-out;
    background: #e9eaec !important;
    color: #757f88 !important;
}

.about-me:hover{
    color: #757f88;
    transform: scale(1.2);
}

.navbar-tool li a{
    position: relative;
}

.navbar-tool li a:hover{
    color: rgb(255, 255, 255) !important;
}

.about-me.active,
.navbar-tool li a.active{
    border-color: unset !important;
    color: #fff !important;
    background: #51575d !important;
}

.navbar-tool li a.active{
    background: #b1b5b6 !important;
}

.about-me.active::after,
.navbar-tool li a.active::after{
    content: "";
    position: absolute;
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: #51575d transparent transparent transparent;
}

.navbar-tool li a.active::after{
    bottom: -12px;
    border-width: 12px 12px 0 12px;
    border-color: #b1b5b6 transparent transparent transparent;
}

.about-div{
    position: relative;
    width: 80%;
    height: 600px;
}

.about-div::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: -30px;
    bottom: 130px;
    background-color: #b4b9beb7;
    z-index: -1;
}

.about-div::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    left: -30px;
    bottom: 30px;
    background-color: #949ca3d2;
    z-index: -1;
}

.about-me{
    border: unset !important;
}

.about-list > li{
    margin-right: 20px;
}

.nav-tabs{
    border-bottom: unset;
}

.progress-wrap h3{
    font-size: 14px;
    margin-bottom: 10px;
}

.progress-wrap{
    margin-bottom: 30px;
}

.section-experience{
    position: relative;
    background: rgba(255, 255, 255, 0.646);
}

.exp-bg{
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 90vh;
    /* background: linear-gradient(10deg,#ffffffc4, #e6e6e6e0 ,rgba(249, 249, 249, 0.48)); */
    transform-origin: 0px 0px;
    /* transform: skewY(20deg); */
    overflow: hidden;
    z-index: -1;
}

.exp-title{
    margin-bottom: 80px;
}

.exp-row{
    margin-bottom: 80px;
    position: relative;
}

.exp-sec{
    position: relative;
}

.exp-sec::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    left: 50%;
    transform: translateX(-50%);
    background: rgb(102, 98, 98);
    border-radius:4px;
}

.exp-row::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 4px solid rgb(102, 98, 98);
    border-radius: 50%;
    z-index: 10;
}

.exp-row::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px 25px 10px 10px;
    border-style: solid; 
    border-color: transparent rgb(102, 98, 98) transparent transparent;
    transform: translateX(-55%);
    z-index: -1;
    
}

.exp-row:nth-child(even):before{
    border-width: 10px 10px 10px 25px;
    border-style: solid; 
    border-color: transparent transparent transparent rgb(102, 98, 98);
    transform: translate(55%);
}

.subheading{
    font-size: 16px;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
    color: rgb(54, 105, 135);
    text-transform: uppercase;
}

.dbox .text{
    width: 100%;
}

.dbox p{
    margin-bottom: 0;
}

.dbox p span{
    font-weight: 400;
    color: #000000;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.dbox p span,
.dbox  p a{
    word-wrap: break-word;
}

.contactForm .form-group {
    width: 100%;
    margin-bottom: 10px;
}

.contactForm .form-control {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control {
    height: 45px;
    background: #fff;
    color: rgba(0, 0, 0, 0.8);
    font-size: 14px;
    border-radius: 2px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

textarea.form-control {
    height: inherit !important;
}

.wrapper .social-media p a {
    color: #0779e4;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    margin-right: 10px;
}

.ft-a{
    font-weight: 600;
    color: #000;
    font-size: 1.5rem;
}

.ft-social a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(121, 137, 179);
    transition: 0.2s ease-in-out;
}

.ft-social a:hover{
    background: rgb(26, 42, 55);
    transform: scale(1.1);
}

.ft-social a span{
    font-size: 18px;
    color: #fff;
}

.ft-social li{
    display: inline-block;
    padding: 0 20px;
}


.contact-me li{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.contact-me li a{
    display:flex;
}

.contact-me li i{
    font-size: 18px;
    color: #000;
    margin-right: 30px;
    padding-top: 6px;
}

.contact-me li .location-icon{
    width: 18px;
}

.copyright p{
    font-size: 12px;
}

.about-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background: linear-gradient(10deg, #bdbbbb ,#ececec, #ffffff);
    transform-origin: 0px 0px;
    transform: skewY(-10deg);
    overflow: hidden;
    z-index: -1;
}

.progress{
    background-color: #dadadaba;
}

.progress-bar{
    background-color: #4f8fa9c0;
}

.map{
    width: 100%;
    height: 100%;
    background: #000;
}

.navbar-brand{
    height: 75px;
    width: 130px;
}

@media only screen and (max-width:768px) {
    .profile-wrapper{
        width: 210px;
        height: 210px;
    }

    .slider{
        padding-top: 40px;
    }

    .slider h1{
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    .res-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-div{
        width: 100%;
        height: 550px;
    }

    .exp-sec::after,
    .exp-row::before,
    .exp-row::after{
        display: none;
    }

    .map{
        height: 350px;
    }

    .ft-contact div{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ft-social a{
        width: 30px;
        height: 30px;
    }

    .ft-social a span{
        font-size: 16px;
    }

    .contact-me li{
        margin-bottom: 10px;
    }

    .navbar-tool{
        border-top: 1px solid rgba(63, 63, 63, 0.689);
    }

    .navbar-tool li a{
        padding: 1rem;
    }

    .navbar-tool li a.active::after{
        display: none;
    }

    .navbar-brand{
        height: 55px;
        width: 130px;
    }

    .navbar-toggler-icon{
        width: 1.3rem;
        height: 1.5rem;
    }
}